@inject IWebAssemblyHostEnvironment _env

<Divider Margin="@Margin.Is1.FromTop.Is1.FromBottom"/>

<Div Flex="@Flex.JustifyContent.Center">
    <Div Padding="@Padding.Is2.FromStart.Is2.FromEnd">
        <Anchor To="swagger">API</Anchor>
    </Div>

    <Div Padding="@Padding.Is2.FromStart.Is2.FromEnd">
        <Anchor To="about">About</Anchor>
    </Div>
</Div>

<Div Flex="Flex.JustifyContent.Center">
    © 2022-2024 BUTR
</Div>
