@inject DiffService _diffService

<div id="@DivId"></div>


@code {

    private Guid _rand = Guid.NewGuid();

    private string DivId => $"diff2html-ui-{_rand}";

    [Parameter]
    public string Content { get; set; } = string.Empty;

    [Parameter]
    public OutputFormat OutputFormat { get; set; } = OutputFormat.LineByLine;

    [Parameter]
    public DiffStyle Style { get; set; } = DiffStyle.Word;

    protected override async Task OnInitializedAsync()
    {
        await _diffService.Initialize();
        await _diffService.RenderDiffToElement(DivId, Content, OutputFormat, Style);
    }

}