@inject IJSRuntime _jsRuntime
@inject DiffService _diffService

<div id="@(DivId)"></div>


@code {

    private Guid _rand = Guid.NewGuid();

    public string DivId => $"diff2html-ui-{_rand}";

    [Parameter]
    public string DiffContent { get; set; } = string.Empty;

    [Parameter]
    public OutputFormat OutputFormat { get; set; } = OutputFormat.LineByLine;

    [Parameter]
    public DiffStyle Style { get; set; } = DiffStyle.Word;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await _diffService.RenderDiffToElement(DivId, DiffContent, OutputFormat, Style);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await _diffService.RenderDiffToElement(DivId, DiffContent, OutputFormat, Style);
    }

}