@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav">
                <NavLink href="profile" class="nav-item nav-link">Profile</NavLink>
                <NavLink href="mods" class="nav-item nav-link">Mods</NavLink>
                <NavLink href="crash-reports-viewer" class="nav-item nav-link">Crash Reports</NavLink>
                <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<CascadingValue Value="@this">
    <CascadingValue Value="true" Name="IsDevice">
        <div class="app-container container">
            <div class="main-body">
                @Body
            </div>
        </div>
    </CascadingValue>
</CascadingValue>