@inject IWebAssemblyHostEnvironment _env

<Divider Margin="Margin.Is1.FromTop.Is1.FromBottom"/>

<Div Flex="Flex.JustifyContent.Center">
    <Div Padding="Padding.Is2.FromLeft.Is2.FromRight">
        <Blazorise.Link To="@GetSwaggerUrl()">API</Blazorise.Link>
    </Div>

    <Div Padding="Padding.Is2.FromLeft.Is2.FromRight">
        <Blazorise.Link To="about">About</Blazorise.Link>
    </Div>
</Div>

<Div Flex="Flex.JustifyContent.Center">
    © 2022 BUTR
</Div>

@code {

    private string GetSwaggerUrl() => _env.IsProduction() ? "swagger/index.html" : $"swagger/index.html?env={_env.Environment}";

}
